@model OnlineEventBookingSystemUI.Models.UserEventDetailViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Event Details</h2>
<!DOCTYPE html>

@section Scripts {
    <script type="text/javascript">
        $(function () {
            $("#btnShow").click(function () {
                var selectedTextEvent = $("#EventTypeList").find("option:selected").text();
                var selectedTextCity = $("#CityList").find("option:selected").text();
                var UserEventDetailViewModel = {
                    EventTypeList: selectedTextEvent,
                    CityList: selectedTextCity,
                    Event_Type: selectedTextEvent,
                    Booking_Loc: selectedTextCity
                };
                $.ajax({
                    type: "POST",
                    url: "/UserEventDetail/DisplayUserEvents",
                    data: { "model": UserEventDetailViewModel },
                    dataType: "html",
                    success: function (response) {

                        $("#partial").html(response);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert("Error");
                    }
                });
            })
        });
    </script>
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <table>
        <tr>
            <td>
                Event Types: @Html.DropDownList("EventTypeList", Model.EventTypeList, "All")
            </td>
            <td>
                City: @Html.DropDownList("CityList", Model.CityList, "All")
            </td>
            <td>
                <input type="submit" value="SHOW DETAILS" id="btnShow" />
            </td>
            <td>
            </td>
        </tr>
    </table>
    @if (User.Identity.IsAuthenticated)
    {
        <a> @Html.ActionLink("Booked Events List", "DisplayUserBookedEventsList", new { id = User.Identity.Name })</a>
    }
    <div id="partial"></div>






    <div>
        @if (Session["UserName"] == null)
        {
            @Html.ActionLink("Click here to Register", "Registration", "User")
        }
    </div>
</body>
</html>
